.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 50px;
	height: 80px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-size: 20px;
}
.footer {
	margin-top: auto;
	height: 80px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	padding-left: 100px;
	font-size: 20px;
}
