.chat-app {
	width: 1200px;
	height: 800px;
	border: 1px solid red;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 240px 350px 1fr;
	grid-template-rows: 100%;
}

.friend {
	display: flex;
	align-items: center;
	border-radius: 30px;
	padding-left: 20px;
	height: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	margin-bottom: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.friend-list {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	width: 350px;
	padding-left: 20px;
	padding-right: 20px;
}
.chat-area {
	/* flex: 1; */
	width: 100%;
	border: 1px solid green;
	height: 100%;
	/* min-height: 0; */
	display: flex;
	flex-direction: column;
}
.chat-setting {
	font-size: 30px;
	margin-left: 30px;
	cursor: pointer;
}

.chat-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding-left: 10px;
	padding-right: 10px;
}
.chat-footer i {
	font-size: 30px;
	cursor: pointer;
}
.chat-area,
.sidebar,
.friend-list {
	padding-top: 10px;
}
/* Chat content */
.chat-content {
	flex: 1;
	/* height: 100%; */
	border: 1px solid yellow;
	overflow-y: auto;
	/* display: flex;
	flex-direction: column; */
	/* justify-content: end; */
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.my-turn,
.friend-turn {
	display: flex;
	align-items: center;
}
.my-turn {
	justify-content: end;
}
.my-message {
	/* width: 100%; */
	padding: 10px;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	background-color: #4e71ff;
	color: white;
	margin-right: 15px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	margin-top: 8px;
	margin-bottom: 8px;
}
.friend-message {
	/* width: 100%; */
	padding: 10px;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	background-color: #7f8caa;
	color: white;
	margin-left: 15px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	margin-top: 8px;
	margin-bottom: 8px;
}
.chat-avatar {
	border-radius: 50%;
	font-size: 20px;
	/* border: 1px solid red; */
	/* width: 40px;
	height: 40px; */
	/* display: flex;
	align-items: center;
	justify-content: center; */
	/* padding: 50%; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
}
